#sync1 .item{
    background: transparent;
    padding: 0px 0px;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
    border-top:4px solid #EDCD31;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    padding:5px;
    background-color: #fff;

}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
   border-top:4px solid #2866A3;
     
    padding:5px;
}

#owl-demo .item{
  background: transparent;
  max-height: 300px;  
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  right: 0;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
    top: 30%;
  bottom: 30%; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
  top: 30%;
  bottom: 30%;
}

.owl-theme .owl-controls{
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px transparent;
  width: 30px;
  height: 40px;
  overflow: hidden;
 background-color: #2865A2;
  padding-top: 8px;
  color: #fff;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  background-color: rgba(224,224,224, 0.98);
  color: #2765A3;
}

.owl-theme .owl-controls .owl-buttons .owl-prev:before {
   font-family: "FontAwesome";
   display: block;
   content: "\f104";
   cursor: pointer;
  
}


.owl-theme .owl-controls .owl-buttons .owl-next:before {
   font-family: "FontAwesome";
   display: block;
   content: "\f105";

  cursor: pointer;
  

  }

.owl-theme .owl-controls .owl-page span{
  
  box-shadow: inset 0 0 0 2px rgb(255, 200, 50);

}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background-color: rgba(255, 200, 50, 0.8);
}

.owl-pagination {
  position: absolute;
  bottom: 15px;
  left: 10%;
  right: 10%;
  

}

.feature-content {  
    
    display: inline-block;
    background: #fff;
    margin-right : 0px;

}

.feature-content a{ 
    color:#636363;

}

.feature-content img {  
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;   

}

.feature-content .sub-heading {
    font-size: 0.875em;
    color: #2188DE;
}

.feature-content .heading{
    font-size: 1.125em;
    font-weight: 600;

}

.avatar {
  position: relative;
  display: inline-block;
  width: 100%;
}
.avatar-lg {
  width: 90px;
}
.avatar-md {
  width: 48px;
}
.avatar-sm {
  width: 32px;
}
.avatar-xs {
  width: 16px;
}

.content-button {
    margin: 0 auto;
}

.blog-content {
  display: block;
}

.blog-content img {
  padding: 20px 30px 20px 30px;
  width: 100%;
  margin: 0 auto;

}

.blog-content .description {
    line-height: 25px;
    
}

.blog-content .description p {
    color: #515151;
}

@media screen and (min-width: 768px) {
    .isotope .portfolio-item {
          width: 33.3%;
          margin: 5px;
          border:1px solid #000;

    }
}
@media (max-width: 767px) {
  .isotope .portfolio-item {
    padding: 5px;
    width: 50%;
  }
}

.tag-promo {
    border-top:1px solid #d8dcee;
    padding-top: 0px; 
}
.tag-promo h3{
    font-size: 20px;
    line-height: 0;
    font-weight: 700;
    color: #157CD1;

}
.tag-promo h4{
    font-size: 10px;
    line-height: 0;
}

.border {
    border:1px solid #EAEAEA;
    padding:5px;
}

.content-promo > .container,
.content-promo > .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.product-view {
    margin:0px;
}

.product-view img {
    width: 100%;
}

.box-label {
  border: 3px solid #2087DD;
  padding: 10px 10px;
  display: inline-block;
}

.widget {
    
    margin-bottom: 10px;
}
.widget .widget-header,
.widget .widget-body,
.widget .widget-footer {
  position: relative;
  padding: 15px;
  z-index: 995;
}
.widget .widget-header:before,
.widget .widget-body:before,
.widget .widget-footer:before,
.widget .widget-header:after,
.widget .widget-body:after,
.widget .widget-footer:after {
  content: " ";
  display: table;
}
.widget .widget-header:after,
.widget .widget-body:after,
.widget .widget-footer:after {
  clear: both;
}
.widget .widget-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.widget .widget-footer {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.available {
    line-height: 0px;
}

.color-success {
    color: #15DB81;
}

.btn-s,
.btn-group-s > .btn {
    padding: 1px 1px ;
}


.btn-buy,
.btn-buy a {
    color: #fff;
}

.color-b {
    color: #5E5E5E;
}

.mto {
  margin-top: -15px;
  z-index: 1006!important;
}
.mto-1 {
  margin-top: -50px;
  z-index: 1006!important;
}
.min-mt {
  margin-top: -30px;
}

.min-mt1 {
  margin-top: -30px;
}

.no-lh,
.no-lh h5,
.no-lh h6 {
  line-height: 15px;
}

.no-lh,
.no-lh h4 {
  line-height: 0;
}
.no-lh,
.no-lh h3 {
  line-height: 0;
}

.lh-1 {
  line-height: 30px;
}

.logo-r {
  width: 60px;
  line-height: 60px;
    position: absolute;
}

@media (max-width: 767px) {
  .center-xs {
    text-align: center;
  }
}

#map {
  width: 100%;
  height: 50%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.item-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.item-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.item-content {
  padding: 5px;
  background: #transparent;
}

.item-text {
  position: relative;
  overflow: hidden;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .hero .bxslider li {
    height: 500px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .hero .bxslider li {
    height: 140px;
    width: 100%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .hero .bxslider li {
    height: 350px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-title {
    margin-top: 110px;
  }
}
@media (max-width: 767px) {
  .hero .hero-title {
    margin-top: -80px;
  }
}

.img-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.diskon-l {
  position: absolute;
  z-index: 1000;

}

.diskon-l .diskon-lr {
  margin: 0 auto 15px;
  width: 30px;
  line-height: 30px;
  font-size: 10px;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #EDCD31;
  text-align: center;
  font-weight: 600;
}
.product-title,
.product-title h5 {
  display: inline-block;
  width:99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-cont {
  background-color: #fff;
  position: relative;
  display: block;
  text-align: center;
}

.img-cont img {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .img-cont {
    width: 100%;
    height: 100px;
  }

  .img-cont img {
    max-width: 100%;
    max-height: 100px;
  }

}
@media (max-width: 767px) {
  .img-cont {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .img-cont img {
    max-width: 100%;
    max-height: 200px;
  }
} 

.banner-user {
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  
}

.banner-user .img-user-u {
  width: 100%;
  bottom: 0;
}

@media screen and (min-width: 768px) {
 .banner-user {
    height: 360px;
    width: 100%;
    padding-top: 180px;
  }
}
@media (max-width: 767px) {
  .banner-user {
    height: 180px;
    width: 100%;
    padding-top: 15px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .banner-user {
    height: 235px;
    width: 100%;
    padding-top: 80px;
  }
}

.border-img {
  padding: 5px;
  background-color: #fff;
  border:1px solid #c6c6c6;
}

.color-acount {
  color: #EDCD31;
  background-color: :#000;
}

.cart li {
  text-align: center;
}
.btn-loadmore {
  margin: 0 auto 30px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 50px;
  font-size:14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:1px solid #2765A3;
  color: #2765A3;
  overflow: hidden;
}
.heading-detail h1 {
  font-size:32px;
}

.embed-responsive {
  -moz-box-shadow:  0 0 8px #888;
  -webkit-box-shadow: 0 0 8px#888;
  box-shadow: 0 0 8px #888;
}

@media screen and (min-width: 768px) {
.header .logo {
  height: 85px;
  width: 100px;
  top: -20px;
  padding-top: 14px;
  }
}
@media (max-width: 767px) {
  .header .logo {
    height: 83px;
    width: 90px;
    top: -20px;
    padding-top: 18px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.header .logo {
  height: 85px;
  width: 100px;
  top: -20px;
  padding-top: 14px;
  }
}

.bg-color-s {
  background-color: #3571ad;
}

.thumb-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.thumb-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.user-name{
  color: #fff;
  text-shadow: -1px 0 #8c8c8c, 0 1px #8c8c8c, 1px 0 #8c8c8c, 0 -1px #8c8c8c;
  font-size: 22px;
  z-index: 2008 !important;
  position: relative;
  text-transform: capitalize;
}